.create-post-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.create-post {
    /* display: flex;
    flex-direction: column;
    align-content: center; */
    background: rgba(40, 161, 247, 0.55);
    width: 30%;
    padding-bottom: 20px;
    border: none;
    border-radius: 14px;
    -webkit-box-shadow: 0px 0px 12px 7px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 12px 7px rgba(0,0,0,0.5);
}

.post-input {
    padding: 6px 2px 6px 2px;
    border: 1px solid black;
    border-radius: 14px
}

.create-post-btn {
    margin-top: 20px;
    border: none;
    border-radius: 14px;
    width: 30%;
    padding: 5px 0 5px 0;
}